<style>
    body {
        margin: 0;
        padding: 0;
    }

    .footer {
        background-color: white;
        font-family: sans-serif;
    }

    .footer h1 {
        color: black;
        margin-top: 147px;

    }

    .home {
        background-color: white;
        color: black;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0px 150px 150px 150px;
    }

    .box {
        background-color: #000000;
        height: 539px;
        box-shadow: 0px -16px 20px #00000042;
        color: white;
    }

    .section {
        padding: 119px 281px 0 124px;
        display: flex;
        text-align: left;
        justify-content: center;
        align-items: center;
        gap: 130px;
    }

    .one h2 {
        color: white;
        margin-left: -172px;
        font-size: 30px;
        font-weight: 200;
    }

    .one p {
        color: rgba(255, 255, 255, 0.418);
        margin-left: 50px;
        line-height: 25px;
    }

    .two ul {
        list-style: none;
    }

    .two ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.418);
        line-height: 35px;
        transition: all 0.3s ease;
    }

    .two ul li a:hover {
        text-decoration: underline;
        cursor: pointer;
                transform: scale(1.1);
        color: rgba(255, 255, 255, 0.699);
    }

    .three ul {
        list-style: none;
    }

    .three ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.418);
        line-height: 35px;
        transition: all 0.3s ease;
    }

    .three ul li a:hover {
        text-decoration: underline;
        cursor: pointer;
                transform: scale(1.1);
        color: rgba(255, 255, 255, 0.699);
    }

    .four ul {
        list-style: none;
        margin-top: -54px;
    }

    .four ul li a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.418);
        line-height: 35px;
        transition: all 0.3s ease;
    }

    .four ul li a:hover {
        text-decoration: underline;
        cursor: pointer;
                transform: scale(1.1);
        color: rgba(255, 255, 255, 0.699);
    }

    .five {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .bet {
        margin-top: -86px;
        display: grid;
        gap: 25px;
    }

    .fa-brands {
        color: rgba(255, 255, 255, 0.418);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .fa-brands:hover {
        transform: scale(1.1);
        color: rgba(255, 255, 255, 0.699);
        cursor: pointer;
    }

    .but button {
        color: white;
        font-size: 15px;
        background-color: #E62964;
        border: transparent;
        border-radius: 30px;
        padding: 12px 22px;
        margin-left: 17px;
        transition: all 0.5s ease;
    }

    .but button:hover {
        color: #E62964;
        background-color: rgba(255, 0, 255, 0.096);
        border: 1px solid #e62965ab;
    }

    .div {
        margin-top: 60px;
        background-color: rgba(255, 255, 255, 0.199);
        width: 1500px;
        height: 1px;
        margin-left: -70px;
    }

    .bottom {
        display: grid;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .line {
        margin-top: 40px;
        color: rgba(255, 255, 255, 0.418);
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="footer">
    <div class="home">
        <h1>Pretty Footer</h1>
    </div>
    <div class="box">
        <div class="section">
            <div class="one">
                <h2>Colorlib</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas et ut iusto harum eveniet fuga
                    eaque omnis tempore natus, corporis,
                    quos?</p>
            </div>
            <div class="two">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About&nbsp;Us</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="three">
                <ul>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Journal</a></li>
                </ul>
            </div>
            <div class="four">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms&nbsp;&&nbsp;Conditions</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
            <div class="bet">
                <div class="five">
                    <a href="http://instagram.com" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="http://x.com" target="_blank">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="http://facebook.com" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="http://pinterest.com" target="_blank">
                        <i class="fa-brands fa-pinterest"></i>
                    </a>
                    <a href="http://tiktok.com" target="_blank">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
                <div class="but">
                    <button>Contact Us</button>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="div"></div>
            <div class="line">
                <span>&copy; 2019-2025 All Rights Reserved.</span>
            </div>
        </div>
    </div>
</div>